# Core Data Processing
pandas
numpy

# Interactive Dashboard & Visuals
streamlit>=1.31.0
plotly

# Statistical Analysis & Machine Learning
scipy
seaborn
matplotlib
scikit-learn
xgboost
streamlit
pandas
plotly
numpy
statsmodels
